.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #6E473B;
  padding: 10px 20px;
  border-bottom: 2px solid #E1D4C2;
  flex-wrap: wrap;
}

.logoBox {
  display: flex;
  align-items: center;
}

.logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid #E1D4C2;
  object-fit: cover;
  cursor: pointer;
}

.title {
  flex-grow: 1;
  text-align: center;
  font-family: serif;
  color: #E1D4C2;
  letter-spacing: 4px;
  padding-left: 20%;
  font-size: clamp(1.3rem, 4vw, 2rem);
  margin: 0;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchBox {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 20px;
  padding: 5px 10px;
  border: 1px solid #BEB5A9;
}

.searchBox input {
  border: none;
  outline: none;
  margin-left: 5px;
}

.icons i {
  color: #E1D4C2;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 8px;
}

.cartBtn {
  background: transparent;
  border: 1px solid #BEB5A9;
  color: #E1D4C2;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
}

.navBar {
  display: flex;
  justify-content: center;
  gap: 25px;

  background: #A78D78;
  padding: 10px 0;
  padding-right: 5%;
}

.navBar a {
  text-decoration: none;
  color: #291C0E;
  font-weight: 600;
  font-size: 1rem;
}

.navBar a:hover {
  text-decoration: underline;
}
